# Usuario de la base de datos
ORACLE_DB_USER="tu_usuario_aqui"

# Contraseña de la base de datos
ORACLE_DB_PASSWORD="tu_contraseña_aqui"

# URL de conexión o nombre del servicio en tnsnames.ora
ORACLE_DB_URL="nombre_del_servicio_o_url"

# Ruta absoluta a la carpeta donde se descargó el Wallet
ORACLE_WALLET_PATH="C:\ruta\hacia\tu\wallet"

# Contraseña del Wallet (si la tiene)
ORACLE_WALLET_PASSWORD="tu_password_del_wallet"

# Esquema por defecto
ORACLE_SCHEMA="APP_SPRING_BOOT"